/*General Overrides*/
p {
     margin: 0 0 0px 0 !important; 
}

/*Nav Overrides*/
.up-head {
     padding: 0px 0 !important; 
}

.top-head.header-4 .top-cart {
    padding: 0px 0 0 0px !important;
}

.mobile-location-logo{
    width: 25%;
    margin-top: -50px;
    margin-bottom: 20px;
}

.section {
    padding: 60px 0 !important;
}

/*Navigation Overrides*/
fixed-head {
    border: 1px rgba(255,255,255,0.4) solid;
}

/*Team Overrides*/

.slick-slider {
    box-shadow: none !important;
}

/*Specials Overrides*/

.pricing-tbl:hover {
    background-color: #fff !important;
}

.pricing-tbl ul li:first-child {
    color: red !important;
}

.pricing-tbl ul li:first-child:hover {
    color: red !important;
}

.pricing-box-responsive{
    color: red !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important
}

.d-codes{
    color: red !important;
}

.pricing-tbl.style-3:hover h3, .pricing-tbl.style-3.selected h3 {
     color: red; 
}

.pricing-tbl.style-3 h3, .pricing-tbl.style-3.selected h3 {
     color: red; 
}

/** ACTIONS OVERRIDES */

#calls-to-action{padding:20px 0;border:0!important;background-color:#1f4880;text-shadow:1px 1px 1px rgba(0,0,0,.2);border-radius:3px;}
@media(max-width: 480px){ #calls-to-action{padding:10px 0;}}
#calls-to-action h3{color:#f2f2f2 !important;font-size:15px;font-weight:700;margin-bottom:0;}
#calls-to-action h3 a{margin-top:-10px;display:block;color:#ffffff;font-size:3em;}
@media (max-width: 762px){#calls-to-action h3 a{font-size:2em;}}

#calls-to-action h3 a{font-size:2em;}
#calls-to-action p, #calls-to-action span{color:#ffffff;margin-top:8px;}
#calls-to-action span a{color:inherit;}
#calls-to-action a.button{height:auto!important;padding:5px 20px!important;}
#calls-to-action .phone-numbers{border-right:1px solid rgba(255, 255, 255, .2);padding-right:20px;text-align:right;}
#calls-to-action .schedule-online{border-left:1px solid rgba(0, 0, 0, .1);padding-left:20px;text-align:left;}
.device-xs #calls-to-action .phone-numbers, .device-xs #calls-to-action .schedule-online,
.device-xxs #calls-to-action .phone-numbers, .device-xxs #calls-to-action .schedule-online{border-left:none;border-right:none;padding-left:0;padding-right:0;text-align:center;}
#calls-to-action .schedule-online a.button, #schedule-form button.btn-block, #services a.button{background-color:#fcb426;color:#1f4880;text-shadow:1px 1px 1px rgba(255,255,255,0.2);opacity:1;}
.device-xs #calls-to-action .schedule-online a.button,
.device-xxs #calls-to-action .schedule-online a.button{font-size:12px;padding:5px 10px !important;line-height:25px;}
#calls-to-action .schedule-online a.button:hover, #schedule-form button.btn-block:hover, #services a.button:hover{background-color:#ffc451 !important;opacity:1;}
#calls-to-action .existing-patients p{font-size:24px;margin:0;}
.device-xs #calls-to-action .existing-patients p,
.device-xxs #calls-to-action .existing-patients p{font-size:20px;}
#calls-to-action .existing-patients p a{font-weight:bold;}
@media(max-width: 762px){.existing-patients p a{margin-top:-10px;display:block;}}

/*Services Overrides*/
.services-margin{margin-bottom: 0px !important}

/*Location Overrides*/
head.header-2 .top-cart.new-angle > a:before {
     border-top-right-radius: none !important; 
     border-bottom-left-radius: none !important; 
}

.new-angle.lg, .contact-widget .details li i.new-angle.lg:before {
    border-top-right-radius: none !important;
    border-bottom-left-radius: none !important;
}



/*MODAL OVERRIDES*/
.modal-body{
	font-size: 15px;
}

@media (max-width: 480px) {

.modal-title {
    font-size: 22px !important;
}

.close {
    font-size: 90px;
    line-height: .24;
    color: #e1e3e4 !important;
    margin: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 22px !important;
    margin-bottom: 15px;
    border-width: 1.3px !important;
    opacity: .99 !important;
	}
}

.device-sm .close {
    font-size: 90px;
    line-height: .24;
    color: #e1e3e4 !important;
    margin: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 22px !important;
    margin-bottom: 15px;
    border-width: 1.3px !important;
    opacity: .99 !important;
	}

.device-xs .close {
    font-size: 90px;
    line-height: .24;
    color: #e1e3e4 !important;
    margin: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 22px !important;
    margin-bottom: 15px;
    border-width: 1.3px !important;
    opacity: .99 !important;
	}


	.modal-header {
  border-bottom: none !important; 
}

.modal-title {
    font-size: 19px !important;
	}
}

.modal-body a {
	float: right;
	margin: 0 0 1em 1em;
	width: 50%;
	max-width: 240px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: inherit;
}

.modal-body a img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.modal-body p a {
	margin: 0;
	text-align: inherit;
	float: none;
	width: auto;
	display: inline;
}


table {
	width: 100%;
}

td, th {
	padding: 5px;
}

th {
	width: 1px;
	white-space: nowrap;
	text-align: right;
}

td {
	text-align: left;
}

input, select, textarea {
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0;
}

#email-field {
	display: none;
}
